# Local 
export PGHOST=localhost
export PGPORT=5432
export PGUSER=postgres
export PGPASSWORD=passw0rd!
export PGDATABASE=postgres
export PGSSLMODE=disable

# Staging
#export PGHOST=db.staging
#export PGPORT=5432
#export PGUSER=postgres
#export PGPASSWORD=0kpassw0rd!
#export PGDATABASE=app
#export PGSSLMODE=disable

# Production
#export PGHOST=db.production
#export PGPORT=5432
#export PGUSER=postgres
#export PGPASSWORD=b3stpassw0rd!
#export PGDATABASE=app
#export PGSSLMODE=disable
